:root{
    --greyscale:rgb(190, 183, 183);
    --redmix:linear-gradient(maroon,firebrick);
}

* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


body {
    background-color: var(--greyscale);
}

.headie {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 40px;
    color:maroon;
}

.headie p {
    margin-top: 25px;
    font-size: 25px;
}


.snippet {
    display: inline-block;
    position: relative;
    width:40%;
    flex-direction: row;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    text-align: center;
    padding: 65px;
    margin-top: 50px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10px; ;
    align-items:stretch;

}

.snippet header {
    margin-top: -80px;
    margin-bottom: 10px;
    border-style: solid;
    background: var(--redmix);
    border-radius: 10px;
    padding: 10px;
}

.snippet:nth-child(1n){
    float:left;
}

.infocard {
    height:140px;
    text-align: center;
    border-style: solid;
    border-color: black;
    background: var(--redmix);
    border-radius: 15px;
    padding:10px;
}

a {
    color:black;
}

a:hover{
    color:ivory;
}


.infocard:hover {
    box-shadow: 0px 0px 4px 1px red,
            0px 0px 4px 3px maroon,
            0px 0px 4px 5px firebrick,
            inset 1px 1px 2px 0px black,
            inset -1px -1px 2px 0px maroon,
            inset 4px 4px 4px 0px grey;

}

footer {
    text-align: center;
    
}